@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

/* ======{Header}====== */

header {
  background-color: #181818;
  height: 60px;
  width: 100%;
  padding: 0 2rem;

  position: fixed;
  top: 0;
  z-index: 101;
}

header nav {
  max-width: 1250px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  color: #ebe9ea;
}

header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header nav ul .brand {
  font-weight: bolder;
}

header nav ul .icon-cart {
  cursor: pointer;
}

/* ======{END Header}====== */

/* ======{Main}====== */
main {
  margin-top: 65px;
}

main .container {
  max-width: 1250px;
  width: 90%;
  margin: auto;
}

main .container .brand {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

main .bg-image {
  background-image: url("../imgs/bg-01-jordan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main .bg-image .content-img {
  padding: 2rem;
  display: flex;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  color: #ebe9ea;

  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  font-style: normal;
}

main .content-img h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

/*  */
#sc-products .texts {
  text-align: center;
  margin: 5rem 0 2rem;
}

#sc-products .texts h2 {
  font-size: 2rem;
}

#sc-products .texts p {
  font-size: 1.2rem;
}

/*  */
footer {
  margin-top: 5rem;
  width: 100%;
  padding: 1rem;
  background-color: #181818;
}

footer p {
  color: white;
  text-align: center;
  font-size: 1rem;
}

/*  */

.cart-side {
  background-color: #fff;
  width: 400px;
  height: 100vh;
  padding: 1rem;

  position: fixed;
  top: 0;
  right: 0;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 102;
}

.btn-cart {
  cursor: pointer;
  position: relative;
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ee7444;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 0.2rem;
  font-size: 0.5rem;
  position: absolute;
  top: -5px;
  right: -9px;
}

.btn-cart:hover {
  color: #ee7444;
}

.cart-side .cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-side .cart-top .icon-cart,
.icon-arrow {
  cursor: pointer;
  font-size: 1.5rem;
}

.cart-side .cart-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
  position: relative;
  height: 80vh; /* Defina a altura como 100% da altura da janela de visualização */
  overflow-y: auto;
  padding-bottom: 5rem;
}

.cart-side .cart-content::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Cor de fundo transparente */
}

.cart-side .cart-content {
  scrollbar-width: none; /* Remover a barra de rolagem */
}

.cart-side .cart-content .cart-item {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 0.5rem;
  padding: 0 0.5rem;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #f7f6f6;
}

.cart-side .cart-content .cart-item img {
  width: 100px;
  height: 100px;
}

.cart-item .cart-item-info h4 {
  font-size: 0.8rem;
  font-weight: 600;
}

.cart-item .cart-item-info p {
  margin-top: 0.5rem;
  font-weight: 700;
}

.cart-item .btn-delete {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.cart-item .btn-delete:hover {
  color: #ee7444;
}

.cart-item .buttons {
  align-self: flex-end;

  display: flex;
  align-items: center;

  margin-bottom: 1rem;
  gap: 0.5rem;
}

.cart-item .buttons .btn {
  height: 25px;
  width: 25px;

  background-color: #ee7444;
  color: white;

  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.cart-side .cart .cart-footer {
  background-color: #f5f5f5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  position: absolute;
  bottom: 0;
  left: 0;

  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-side .cart .cart-footer .cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart .cart-footer .cart-total h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.cart .cart-footer button {
  padding: 0.8rem 5rem;
  background-color: #ee7444;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 1rem;
}

/* Fade
*/

.fade {
  background-color: #070707a2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .message-info {
    display: none;
  }
  main .bg-image {
    background-image: url(../imgs/bg-01-jordan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    max-height: 450px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .cart-side {
    width: 350px;
  }
}
