@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ======{Header}====== */

header {
  background-color: #181818;
  height: 60px;
  width: 100%;
  padding: 0 2rem;
}

header nav {
  max-width: 1250px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  color: #ebe9ea;
}

header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header nav ul .brand {
  font-weight: bolder;
}

header nav ul .icon-cart {
  cursor: pointer;
}

/* ======{END Header}====== */

/* ======{Main}====== */

main .container {
  max-width: 1250px;
  width: 90%;
  margin: auto;
}

main .container .brand {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

main .bg-image {
  background-image: url("https://wallpapercave.com/wp/wp6346244.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main .bg-image .content-img {
  padding: 2rem;
  display: flex;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  color: #ebe9ea;

  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  font-style: normal;
}

main .content-img h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

/*  */
#sc-products .texts {
  text-align: center;
  margin: 5rem 0 2rem ;
}

#sc-products .texts h2 {
  font-size: 2rem;
}

#sc-products .texts p {
  font-size: 1.2rem;
}

/*  */
footer {
  margin-top: 5rem;
  width: 100%;
  padding: 1rem;
  background-color: #181818;
}

footer p {
  color: white;
  text-align: center;
  font-size: 1.6rem;
}